<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Wetty - The WebTTY Terminal Emulator</title>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  
  <!-- Get the custom bootstrap CSS AND custom navbar from the dashboard - just do a  request -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

  <script src="{{{baseURI}}}/wetty/hterm_all.js"></script>
  <script src="{{{baseURI}}}/socket.io/socket.io.js"></script>
  <script>
    // ugly monkey patch to add sub-uri support to wetty.js
    // must be called after socket.io javascript
    var _io = io;
    var io = function(uri, opts) {
      console.log('Overriding: io(' + uri + ', ' + opts + ')');

      // override path supplied by wetty
      opts.path = '{{{baseURI}}}/socket.io';

      // use proper headers for xhr (doesn't work due to socket.io)
      opts.extraHeaders = {'X-Requested-With': 'XMLHttpRequest'};

      return _io(uri, opts);
    }

    // ugly monkey patch to override wetty's storage preference
    lib.Storage._Local = lib.Storage.Local;
    lib.Storage.Local = lib.Storage.Memory;

    // ugly monkey patch to add headers to all AJAX requests
    XMLHttpRequest.prototype._open = XMLHttpRequest.prototype.open;
    XMLHttpRequest.prototype.open = function() {
      console.log('Overriding: XMLHttpRequest.open(' + [].slice.call(arguments) + ')');
      var _return = this._open.apply(this, arguments);
      this.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      return _return;
    }
  </script>
  <script src="{{{baseURI}}}/wetty/wetty.js"></script>
  <style>
/*TODO: use flexbox for proper sizing so there is no scrollbar
also viewport width/height
 */
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0px;
      display: flex;
      flex-direction: column;
      padding-top: 25px;
    }
    #terminal {
      display: block;
      position: relative;
      flex-grow: 1;
    }
    .navbar-inverse {
        background-color:#53565a;
            border-color:#53565a;
    }
    .navbar-inverse, .navbar-inverse a, .navbar-inverse a.navbar-brand, .navbar-inverse .navbar-nav>li>a{ color: #cccccc;}
  </style>
</head>

<body>
    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">OSC OnDemand</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">

              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Files<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pun/sys/files/fs/nfs/17/efranz" target="_blank"><i class="fa fa-home"></i> Home Directory</a></a></li>
                  <li role="separator" class="divider"></li>
                    <li><a href="/pun/sys/files/fs/nfs/gpfs/PZS0530" target="_blank"><i class="fa fa-folder"></i> /nfs/gpfs/PZS0530</a></li>
                </ul>
              </li>

            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/pun/sys/dashboard/apps/sys/myjobs"><i class="fa fa-tasks"></i> My Jobs</a></li>
              <li><a href="/pun/sys/activejobs"><i class="fa fa-clock-o"></i> Active Jobs</a>
              </li>
            </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clusters<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/pun/sys/shell/ssh/oakley" target="_blank"><i class="fa fa-terminal"></i> Oakley Shell Access</a></li>
                <li><a href="/pun/sys/shell/ssh/ruby" target="_blank"><i class="fa fa-terminal"></i> Ruby Shell Access</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/pun/sys/systemstatus"><i class="fa fa-tachometer"></i> System Status</a></li>
            </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Virtual Desktop Interface</li>
              <li><a href="/pun/sys/oakley_vdi"><i class="fa fa-desktop"></i> Oakley VDI</a></li>
                <li><a href="/pun/sys/ruby_vdi"><i class="fa fa-desktop"></i> Ruby VDI</a></li>
              <li><a href="/pun/sys/paraview"><img alt="Logo 14x14 paraview" src="/pun/sys/dashboard/assets/logo-14x14-paraview-41d99690b556d575d5311915b7ad705e.png" /> Paraview</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Compute Node Session</li>
              <li><a href="/pun/sys/oakley_desktop"><i class="fa fa-desktop"></i> Oakley Desktop</a></li>
                <li><a href="/pun/sys/ruby_desktop" ><i class="fa fa-desktop"></i> Ruby Desktop</a>
              <li><a href="/pun/sys/abaqus_cae"><img alt="Logo 14x14 abaqus" src="/pun/sys/dashboard/assets/logo-14x14-abaqus-18e70013ea9b4eee3856f16c6173a8c9.png" /> Abaqus/CAE</a>
              <li><a href="/pun/sys/ansys_workbench"><img alt="Logo 14x14 ansys" src="/pun/sys/dashboard/assets/logo-14x14-ansys-f02f29f641d019b1f3c3be84a1f5f032.png" /> ANSYS Workbench</a>
              <li><a href="/pun/sys/comsol"><img alt="Logo 14x14 comsol" src="/pun/sys/dashboard/assets/logo-14x14-comsol-a3abda88ededec60a0567f7a00a8e1cc.png" /> COMSOL</a>
            </ul>
            </li>

            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Develop<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/nginx/stop?redir=/pun/sys/dashboard/"><i class="fa fa-refresh"></i> Restart Web Server</a></li>
            </ul>

            <li class="dropdown" style="border-left: 1px solid black;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shell Themes<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/nginx/stop?redir=/pun/sys/dashboard/"><i class="fa fa-dot-circle-o"></i> Default</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/nginx/stop?redir=/pun/sys/dashboard/"><i class="fa fa-circle-o"></i> Solarized Light</a></li>
                <li><a href="/nginx/stop?redir=/pun/sys/dashboard/"><i class="fa fa-circle-o"></i> Solarized Dark</a></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://www.osc.edu/contact/supercomputing_support"><i class="fa fa-question-circle"></i> Contact Support</a></li>
            </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as efranz<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://my.osc.edu"><i class="fa fa-gear"></i> Change OSC Password</a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="/oidc/?logout=https%3A%2F%2Fwebsvcs08.osc.edu"><i class="fa fa-power-off"></i> Logout</a>
              </li>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
<!--  <div class="nav">
    Colors:
    <select id="colors">
      <option value="default">Default</option>
      <option value="solarized-light">Solarized Light</option>
      <option value="solarized-dark">Solarized Dark</option>
      <option value="clrs">CLRS</option>
      <option value="zenburn">Zenburn</option>
    </select>
  </div>
-->
<div id="terminal"></div>

<script>
$('#colors').change(function(e){
    var set = function(props){
      console.log("attempting to set props");
      for(var key in props){
        if(props.hasOwnProperty(key)){
          term.prefs_.set(key, props[key]);
        }
      }
    };

    if($(this).val() == "solarized-dark"){
    //   console.log("use solarized dark theme");
    //   
    //   set({
    //         'background-color': "rgb(0,30,39)",
    //         'foreground-color': "rgb(252,244,220)",
    //         // 'foreground-color': "rgb(112,130,132)",
    //         'cursor-color': "rgb(112,130,132)",
    //         'color-palette-overrides':['rgb(0,40,49)',
    //         'rgb(209,28,36)',
    //         'rgb(115,138,5)',
    //         'rgb(165,119,6)',
    //         'rgb(33,118,199)',
    //         'rgb(198,28,111)',
    //         'rgb(37,146,134)',
    //         'rgb(234,227,203)',
    //         'rgb(0,30,39)',
    //         'rgb(189,54,19)',
    //         'rgb(71,91,98)',
    //         'rgb(83,104,112)',
    //         'rgb(112,130,132)',
    //         'rgb(89,86,186)',
    //         'rgb(129,144,144)',
    //         'rgb(252,244,220)']
    //       });

      set({
          'background-color': "#002b36", // base02
          // 'foreground-color': "#839496", // base0
          'foreground-color': '#eee8d5', // base2
          'cursor-color': "rgb(112,130,132)",
      
          // so really we can do iTerm and compare
          // i think I would prefer iTerm colors anyways...
          // just multiple each by 255 to get the rgb(r,g,b) value
          // then print out...
          'color-palette-overrides': [
            '#073642', // base02
            // '#dc322f', // red - this was from xterm
            'rgb(208, 28, 36)', // red -- this was from iTerm converted to rgb
            '#859900', // green
            '#b58900', // yellow
            '#268bd2', // blue
            '#d33682', // magenta
            '#2aa198', // cyan
            '#eee8d5', // base2
            '#002b36', // base03
            '#cb4b16', // orange
            '#586e75', // base01
            '#657b83', // base00
            '#839496', // base0
            '#6c71c4', // violet
            '#93a1a1', // base1
            '#fdf6e3'  // base3
          ]
      });
    }
    else if($(this).val() == "solarized-light"){
      console.log("use solarized light theme");

      set({
            'background-color': "rgb(252,244,220)",
            'foreground-color': "rgb(83,104,112)",
            'cursor-color': "rgb(83,104,112)",
            'color-palette-overrides':['rgb(0,40,49)',
            'rgb(209,28,36)',
            'rgb(115,138,5)',
            'rgb(165,119,6)',
            'rgb(33,118,199)',
            'rgb(198,28,111)',
            'rgb(37,146,134)',
            'rgb(234,227,203)',
            'rgb(0,30,39)',
            'rgb(189,54,19)',
            'rgb(71,91,98)',
            'rgb(83,104,112)',
            'rgb(112,130,132)',
            'rgb(89,86,186)',
            'rgb(129,144,144)',
            'rgb(252,244,220)']
          });

      // set({
      //     'background-color': "#fdf6e3", // base3
      //     'foreground-color': "#657b83", // base00
      // 
      //     // so really we can do iTerm and compare
      //     // i think I would prefer iTerm colors anyways...
      //     // just multiple each by 255 to get the rgb(r,g,b) value
      //     // then print out...
      //     'color-palette-overrides': [
      //       '#eee8d5', // base2
      //       // '#dc322f', // red - this was from xterm
      //       'rgb(208, 28, 36)', // red -- this was from iTerm converted to rgb
      //       '#859900', // green
      //       '#b58900', // yellow
      //       '#268bd2', // blue
      //       '#d33682', // magenta
      //       '#2aa198', // cyan
      //       '#073642', // base02
      //       '#fdf6e3', // base3
      //       '#cb4b16', // orange
      //       '#93a1a1', // base1
      //       '#839496', // base0
      //       '#657b83', // base00
      //       '#6c71c4', // violet
      //       '#586e75', // base01
      //       '#002b36' // base03
      //     ]
      // });
    }
    else if($(this).val() == "clrs"){
        set(
            {
              'background-color': "rgb(255,255,255)",
              'foreground-color': "rgb(38,38,38)",
              'cursor-color': "rgb(111,211,252)",
              'color-palette-overrides':['rgb(0,0,0)',
              'rgb(248,40,42)',
              'rgb(50,138,93)',
              'rgb(250,112,29)',
              'rgb(19,92,208)',
              'rgb(159,0,189)',
              'rgb(51,195,193)',
              'rgb(179,179,179)',
              'rgb(85,87,83)',
              'rgb(251,4,22)',
              'rgb(44,198,49)',
              'rgb(253,215,39)',
              'rgb(22,112,255)',
              'rgb(233,0,176)',
              'rgb(58,213,206)',
              'rgb(238,238,236)']
            }            
            );

    }
    else if($(this).val() == "zenburn"){
        set({
      'background-color': "rgb(63,63,63)",
      'foreground-color': "rgb(220,220,204)",
      'cursor-color': "rgb(115,99,90)",
      'color-palette-overrides':['rgb(77,77,77)',
      'rgb(112,80,80)',
      'rgb(96,180,138)',
      'rgb(240,223,175)',
      'rgb(80,96,112)',
      'rgb(220,140,195)',
      'rgb(140,208,211)',
      'rgb(220,220,204)',
      'rgb(112,144,128)',
      'rgb(220,163,163)',
      'rgb(195,191,159)',
      'rgb(224,207,159)',
      'rgb(148,191,243)',
      'rgb(236,147,211)',
      'rgb(147,224,227)',
      'rgb(255,255,255)']
    });
    }
    
    else{
      console.log("use default theme");
      ///////////////////////////////////////////////////////////
      //FIXME:
      // does every theme have 
      // background-color
      // foreground-color
      // 16 ANSI color palette overrides?
      //
      // or are there more robust themes like themes that
      // change the colors i.e. map the colors of all
      // 256 colors to other 256 colors i.e. the color cube?
      ///////////////////////////////////////////////////////////
      set({
          'background-color': "rgb(16, 16, 16)",
          'foreground-color': "rgb(240, 240, 240)",
          'color-palette-overrides': null
      });

      //FIXME: on switch, the overrides don't do the full...
    }
});



</script>
</body>

</html>
